<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <title></title>
</head>
<body>
<div id="app">
    <div class="container">
        <div class="section">

            <div class="field">
                <div class="control">
                    <a href="/setting" class="button">設定</a>
                </div>
            </div>

            <form action="/ingen" method="post" @submit="isLoading = true;">
                <div class="field">
                    <label class="label">原文</label>
                    <div class="control">
                        <textarea class="textarea" name="input" required></textarea>
                    </div>
                    <p class="help">
                        AIに送信できる変換手順・原文の文字数には上限があります。<br>
                        エラーになる、または変換後の文章が途切れる場合は変換手順・原文の文字数を調整するか、
                        「-〇k」が末尾に付くモデルの使用を検討してください。<br>
                        （モデルにより<a href="https://openai.com/pricing#language-models" target="_blank">利用料金</a>が異なります。）
                    </p>
                </div>

                <div class="field">
                    <label class="label">使用モデル</label>
                    <div class="control">
                        <div class="select">
                            <select name="model" v-model="selectedModel">
                                <option v-for="model, index in models" :key="index">[[ model ]]</option>
                            </select>
                        </div>
                    </div>
                    <p class="help">[[ descriptions[selectedModel] ]]</p>
                </div>

                <div class="field">
                    <div class="control">
                        <button class="button is-primary" :class="{'is-loading': isLoading}">変換</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    models = [
        'gpt-3.5-turbo',
        'gpt-3.5-turbo-16k',
        'gpt-4',
        'gpt-4-32k',
    ];

    new Vue({
        el: '#app',
        delimiters: ["[[", "]]"],
        data: {
            isLoading: false,
            models: models,
            selectedModel: models[0],
            descriptions: {
                'gpt-3.5-turbo': '最も優れたGPT-3.5モデルで、text-davinci-003のコストの10分の1でチャットに最適化されています。最新のモデルイテレーションがリリースされてから2週間後に更新される予定です。',
                'gpt-3.5-turbo-16k': '標準のgpt-3.5-turboモデルと同じ機能を持ちつつ、コンテキストが4倍です。',
                'gpt-4': 'どのGPT-3.5モデルよりも優れており、より複雑なタスクをこなすことができ、チャットに最適化されています。最新のモデルイテレーションがリリースされてから2週間後に更新される予定です。',
                'gpt-4-32k': '標準のgpt-4モードと同じ機能を持ちつつ、コンテキストの長さが4倍です。最新のモデルイテレーションで更新される予定です。',
            },
        },
    });
</script>
<style>
</style>
</html>
