<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <title></title>
</head>
<body>
<div id="app">
    <div class="container">
        <div class="section">

            <div class="field">
                <div class="control">
                    <a href="/" class="button">戻る</a>
                </div>
            </div>

            <form action="/setting" method="post" @submit="isLoading = true;">
                <div class="field">
                    <label class="label">ベーシック認証</label>
                    <div class="control">
                        <input type="text" pattern="^[^:]*$" class="input" name="basic_id" placeholder="ID" value="{{ ctx.basic_id }}">
                    </div>
                    <div class="control">
                        <input type="text" pattern="^[^:]*$" class="input" name="basic_password" placeholder="パスワード" value="{{ ctx.basic_password }}">
                    </div>
                    <p class="help">
                        APIキーを第三者に使用されてしまう事態を防ぐため、ベーシック認証での保護を推奨します。<br>
                        どちらも入力するとベーシック認証が有効になります。いずれか一方でも未入力だとベーシック認証は解除されます。<br>
                        「:(半角コロン)」は使えません。
                    </p>
                </div>

                <div class="field">
                    <label class="label">変換手順</label>
                    <div class="control">
                        <textarea class="textarea" name="rule" required>{{ ctx.rule }}</textarea>
                    </div>
                    <p class="help">
                        変換の精度が上がるよう、適宜調整してください。<br>
                        変換手順が長すぎると、変換できる原文の長さが短くなります。
                    </p>
                </div>

                <div class="field">
                    <div class="control">
                        <button class="button is-primary" :class="{'is-loading': isLoading}">保存</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    new Vue({
        el: '#app',
        delimiters: ["[[", "]]"],
        data: {
            isLoading: false,
        },
    });
</script>
<style>
</style>
</html>
